.HomePage{

    margin-top: 17vh;

}

.home-banner img{

    height: 58vh;
    width: 96%;
    margin-left: 2%;
    border-radius: 0.3rem;
}

.home-categories-container{

    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.home-category-card h5 {
    position: relative;
    top: -40px;
    background-color: rgba(110, 28, 28, 0.6);
    height: 50px;
    padding-top: 5px;
    color: #988bdd;
    font-weight: 600;
}

.home-category-card:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.home-category-card img{

    width: 210px;
    height: 220px;
    border-radius: 1.5rem;
    /* border: 1px solid #c6c4c4; */
}


.home-category-card h5{

    position: relative;
    top: -40px;
    background-color: #ead7d7b8;
    height: 50px;
    padding-top: 5px;
    color: #f5f1f1;
}

